*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mydiv{
    /* background-color: blue; */
    background-image: url(https://i.pinimg.com/736x/38/5f/81/385f8107fc5eff6c1050a41e5a620c77.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    /* text-align: center; */
    height: 400px;
}

#container{
    /* background-color: red; */
    padding: 20px;
}

.anotherdiv{
    /* background-color: cadetblue; */
    width: 600px;
    padding: 10px;
}

.anotherdiv h1{
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}

.anotherdiv h1{
    margin-bottom: 10px;
    color: white;
}
.anotherdiv p{
    color: white;
}

img{
    border-radius: 50%;
    margin-left: 50px;
}
nav{
    display: flex;
    background-color: rgb(124, 124, 175);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav ul{
    display: flex;
    gap: 40px;
    margin-right: 20px;
}

nav ul a {
    color: wheat;
    text-decoration: none;
}

nav ul a:hover{
    color: red;
}